@(
   table: org.nisshiee.toban.model.Table
  ,prevWeekDate: org.scala_tools.time.Imports.LocalDate
  ,nextWeekDate: org.scala_tools.time.Imports.LocalDate
)

@import org.nisshiee.toban.controller._
@import org.nisshiee.toban.model._
@import org.nisshiee.toban.util.ViewHelper._
@import scalaz._, Scalaz._
@import java.util.Locale

@main("[to-ban]") {

<h1>to-ban</h1>

<table class="table table-striped table-bordered">
  <colgroup span="1">
  <colgroup span="@table.tasks.size">
  <thead>
    <tr>
      <th></th>
      @table.tasks.map { t =>
        <th>@t.shows</th>
      }
    </tr>
  </thead>
  <tbody>
    @table.rows.map { row =>
      @if(row.date.isToday) {
        <tr class="today">
      } else {
        <tr>
      }
        <th><a href="@routes.DayController.day(row.date.toString)">
        @defining(row.date.dayOfWeekType) { dayOfWeekType =>
          @dayOfWeekType match {
            case Bizday => {
              <span class="bizday">@row.date.toString("yyyy-MM-dd (EEE)", Locale.US)</span>
            }
            case Saturday => {
              <span class="saturday">@row.date.toString("yyyy-MM-dd (EEE)", Locale.US)</span>
            }
            case Sunday => {
              <span class="sunday">@row.date.toString("yyyy-MM-dd (EEE)", Locale.US)</span>
            }
          }
        }
        </a>
        @defining(row.memoOpt) { memoOpt =>
          @memoOpt match {
            case Some(m) => {
              <br />
              @m
            }
            case _ => {}
          }
        }
        </th>

        @row.assign.map { tobanOpt =>
          @tobanOpt match {
            case (t, Some(m)) => {
              <td><a class="btn @m.btnClass" href="@routes.TobanController.detail(t.id, row.date.shows)">@m.shows</a></td>
            }
            case (t, None) => {
              <td><a class="btn" href="@routes.TobanController.detail(t.id, row.date.shows)">assign</a></td>
            }
          }
        }
      </tr>
    }
  </tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li><a href="@routes.TableController.week(prevWeekDate.shows)">&lt;&lt; Prev</a></li>
    <li><a href="@routes.TableController.index">today</a></li>
    <li><a href="@routes.TableController.week(nextWeekDate.shows)">Next &gt;&gt;</a></li>
  </ul>
</div>

}
