@(member: org.nisshiee.toban.model.Member)

@import org.nisshiee.toban.controller._
@import org.nisshiee.toban.model._
@import org.nisshiee.toban.util.ViewHelper._
@import scalaz._, Scalaz._

@main("[to-ban] member detail") {

<h1>member detail</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>@member.id</td>
    </tr>
    <tr>
      <th>name</th>
      <td><span class="label @member.labelClass">@member.name</span></td>
    </tr>
    <tr>
      <th>status</th>
      <td>@member.status.shows</td>
    </tr>
  </tbody>
</table>

<div class="well">
  <h3>edit member name</h3>
  <form class="form-horizontal" action="@routes.MemberController.update" method="post">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="text" required name="@MemberController.memberNameKey" value="@member.name">
    <input class="btn btn-primary" type="submit" value="update">
  </form>

  <hr>

  <h3>change color</h3>
  <div class="btn-group">
    @defining(member.color) { color =>
      @color match {
        case Member.Blue => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue" disabled>
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Green => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green" disabled>
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Yellow => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow" disabled>
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Red => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red" disabled>
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Dark => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark" disabled>
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Silver => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver" disabled>
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold">
        }
        case Member.Gold => {
          <input class="btn btn-info" type="submit" value="Blue" form="change-blue">
          <input class="btn btn-success" type="submit" value="Green" form="change-green">
          <input class="btn btn-warning" type="submit" value="Yellow" form="change-yellow">
          <input class="btn btn-danger" type="submit" value="Red" form="change-red">
          <input class="btn btn-dark" type="submit" value="Dark" form="change-dark">
          <input class="btn btn-silver" type="submit" value="Silver" form="change-silver">
          <input class="btn btn-gold" type="submit" value="Gold" form="change-gold" disabled>
        }
      }
    }
  </div>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-blue">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="0">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-green">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="1">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-yellow">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="2">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-red">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="3">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-dark">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="4">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-silver">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="5">
  </form>
  <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="change-gold">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="hidden" name="@MemberController.memberColorKey" value="6">
  </form>

  <hr>

  <h3>delete member</h3>
  <form class="form-horizontal" action="@routes.MemberController.delete" method="post">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input class="btn btn-danger" type="submit" value="delete">
  </form>
</div>


}
