@(member: org.nisshiee.toban.model.Member)

@import org.nisshiee.toban.controller._
@import org.nisshiee.toban.model._
@import org.nisshiee.toban.util.ViewHelper._
@import scalaz._, Scalaz._

@main("[to-ban] member detail") {

<h1>member detail</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th>ID</th>
      <td>@member.id</td>
    </tr>
    <tr>
      <th>name</th>
      <td><span class="label @member.labelClass">@member.name</span></td>
    </tr>
    <tr>
      <th>status</th>
      <td>@member.status.shows</td>
    </tr>
  </tbody>
</table>

<div class="well">
  <h3>edit member name</h3>
  <form class="form-horizontal" action="@routes.MemberController.update" method="post">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input type="text" required name="@MemberController.memberNameKey" value="@member.name">
    <input class="btn btn-primary" type="submit" value="update">
  </form>

  <hr>

  <h3>change color</h3>
  <div class="btn-group">
    @colors.map { c =>
      @if(c == member.color) {
        <input class="btn @c.btnClass" type="submit" value="@c.toString" form="@c.changeFormId" disabled>
      } else {
        <input class="btn @c.btnClass" type="submit" value="@c.toString" form="@c.changeFormId">
      }
    }
  </div>

  @colors.map { c =>
    <form class="form-inline" action="@routes.MemberController.changeColor" method="post" id="@c.changeFormId">
      <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
      <input type="hidden" name="@MemberController.memberColorKey" value="@(Member.Color.unapply(c) | 0)">
    </form>
  }

  <hr>

  <h3>delete member</h3>
  <form class="form-horizontal" action="@routes.MemberController.delete" method="post">
    <input type="hidden" name="@MemberController.memberIdKey" value="@member.id">
    <input class="btn btn-danger" type="submit" value="delete">
  </form>
</div>


}
